body {
    position: relative;
}
* {
    border: 1px solid red;
}
.profile-card {
    background: linear-gradient(to left, yellow, rgba(0, 26, 255, 0.774));
    box-sizing: border-box;
    border: 5px solid;
    position: sticky;
    width: 250px;
    height: 500px;
    display: grid;
    grid-template-rows: 1fr 1fr;
    grid-template-areas:
        "picture"
        "biography";
}

.user-picture-box {
    grid-area: picture;
    
}

.user-picture { 
    width: 100%;
    height: 100%;
}

.user-biography-box {
    grid-area: biography;
}
