extends layout

append head 
    link(rel="stylesheet" href="/stylesheets/homepage.css")
    link(rel="stylesheet" href="/stylesheets/profileBanner.css")
    link(link href="https://fonts.googleapis.com/css2?family=Cinzel:wght@400;900&display=swap" rel="stylesheet")
    
    
    
include utils.pug

block content

    div(class='profile-banner')
            div(class='banner-picture-box')
                h1(class='logo') A N I M E D I U M
        
    div(class="homepage-display")
        div(class="homepage-users-container")
            div(class='users-label-container'): H2(class='users-title') Explore Our Many Powerful Users!
            div(class='users-display')
                each user in users 
                    div(class='users-name'): a(href=`/users/${user.id}`) !{user.screenName}
        div(class='high-like-stories')
            H2(class='stories-label') Most Liked Stories
            div(class='story-box-container')
                each story in recentStories 
                    - let date = convertDate(story.createdAt);
                    +storyBox(story.id, story.title, story.subtitle, story.User, story.pictureURL, date)
        div(class="newest-stories")
            H2(class="stories-label") Newest Stories
            div(class='story-box-container')
                each story in recentStories 
                    - let date = convertDate(story.createdAt);
                    +storyBox(story.id, story.title, story.subtitle, story.User, story.pictureURL, date) 
        div(class="all-stories")
            H2(class="stories-label") All Stories
            div(class='story-box-container')
                each story in stories
                    - let date = convertDate(story.createdAt);
                    +storyBox(story.id, story.title, story.subtitle, story.User, story.pictureURL, date)
    

    
