doctype html
html
  head
      block head
        title=`Animedium-${title}`
        link(rel='stylesheet' href='/stylesheets/reset.css')
        link(rel='stylesheet' href='/stylesheets/nav-bar.css')
  body(style='background-color: #F0F0F0')
    nav(class='nav-bar') 
      a(href="/" class='nav-bar__home-link')
        img(src="../icons8-home-26.png" class='nav-bar__image')
      h2(class='nav-bar__text') Animedium
      a(href="/login" class='nav-bar__login') 
        img(src="../icons8-signin-24.png" class='nav-bar__image')
      a(href="/stories/create" class='nav-bar__new-story') 
        img(src='../icons8-edit-64.png' class='nav-bar__image')
      a(href="/logout" class='nav-bar__logout')
        img(src='../icons8-exit-64.png' class='nav-bar__image')

    block content
