doctype html
html(lang="en")
    head
        meta(charset="UTF-8")
        meta(http-equiv="X-UA-Compatible", content="IE=edge")
        meta(name="viewport", content="width=device-width, initial-scale=1.0")
        //- link(rel="stylesheet" href="/stylesheets/profileBanner.css")
        link(rel="stylesheet" href="/stylesheets/splash.css")
        //- link(rel='stylesheet' href='/stylesheets/footer.css')
        title Animedium
    body 
        a(class='splash-enter' href='/login') Enter
        h1(class='logo') A N I M E D I U M
        div(class='background')
    //- block foot
    //- .footer
    //-   div(class='footer-container')
    //-     div(class='personal-info-container')
    //-       div(class='name') Robert Burroughs
    //-       div(class='email') ClifDevelops@gmail.com
    //-       div(class='linkedIn')
    //-       div(class='github'): a(href='https://github.com/ClifDevelops') Robert's Github
    //-     div(class='personal-info-container')
    //-       div(class='name') Michael Mihalchik
    //-       div(class='email') mikemihalchik@gmail.com
    //-       div(class='linkedIn')
    //-       div(class='github'): a(href='https://github.com/mike4344') Michael's Github
    //-     div(class='personal-info-container')
    //-       div(class='name') Nic Gauer
    //-       div(class='email') nicgauer@gmail.com
    //-       div(class='linkedIn')
    //-       div(class='github'): a(href='https://github.com/nicgauer') Nic's Github
    //-     div(class='personal-info-container')
    //-       div(class='name') Franco Portin
    //-       div(class='email') fportin350@gmail.com
    //-       div(class='linkedIn')
    //-       div(class='github'): a(href='https://github.com/fportin') Franco's Github