extends layout.pug

block content
    div(class='page-container')
        h3(class='page-not-found__text') Sorry! There are no dragonballs here!
        div(class='image-container')
            a(href='/')
                img(class='image' src='https://images-na.ssl-images-amazon.com/images/I/61jnO2qIrkL._AC_SL1500_.jpg' width='50%' class='page-does-not-exist-image')

    link(rel='stylesheet' href='/stylesheets/page-not-found.css')
