extends layout.pug

include utils.pug

block content
    form(action='/stories/create' method='post' class='stories-create__container')
        input(type='hidden' name='_csrf' value=csrfToken)
        input(type='hidden' name='userId' value=userId)
        +fieldNoLabel('stories-create__title', 'title', story.title, 'text', 'Title...')
        +fieldNoLabel('stories-create__subtitle', 'subtitle', story.subtitle, 'text', 'Subtitle...')
        +fieldNoLabel('stories-create__image', 'pictureURL', story.pictureURL, 'url', "Image Link...")
        +fieldNoLabel('stories-create__body', 'body', story.body, 'textarea', 'Write your story here...')
        div(class='stories-create__button-container')
            button(class='stories-create__button-post' type="submit")
                img(title='Submit' src='/icons8-checked-26.png' class='submit__icon icon' alt='Submit')
            a(href='/')
                img(title='Cancel' src='/icons8-cancel-26.png' class='delete__icon icon')
        +validationErrorSummary(errors)
    link(rel='stylesheet' href='/stylesheets/stories-create.css')
