body {
    background-color: #113A5D;
}

.h2-container {
    grid-area: middle;
    display: flex;
    justify-content: center;
    box-sizing: border-box;
    margin-bottom: 20px;
}

.stories-label {
   font-size: 35px;
   /* text-shadow: 0 5px 5px #113A5D; */
}

.homepage-display {
    background-color: #f9f9f9;
    width: 100%;
    box-sizing: border-box;
    display: grid;
    grid-template-columns: 1fr 40% 40%;
    grid-template-rows: auto 1fr;
    grid-template-areas:
    "high-side high-middle high-right"
    "low-side low low";
}
.homepage-users-container {
    grid-area: high-side;
    width: 75%;
    height: 500px;
    display: flex;
    flex-direction: column;
    justify-self: center;
    box-sizing: border-box;
    margin-top: 40px;
    margin-bottom: 70px;
    border-radius: 10px;
    overflow-y: scroll;
    position: sticky;
    top:200px;
    box-shadow: 10px 10px 10px 4px #113A5D;
}
.users-label-container {
    box-sizing: border-box;
    justify-content: center; 
    /* background: linear-gradient(to bottom, #113A5D,#f9f9f9); */
    border-radius: 1px;
}
.homepage-users-container:hover {
    box-shadow: 10px 10px 10px 8px #062743;
}
.users-title {
    font-size: 20px;
    font-weight:900px;
    
    box-sizing: border-box;
    margin: 10px;
   
}
.users-name > a {
    text-decoration: none;
}
.users-name > a:hover {
    text-decoration: underline;
}
.users-display {
    box-sizing: border-box;
    padding-left: 15px;
}
.high-like-stories {
    grid-area: high-middle;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-sizing: border-box;
    margin: 5px;
    padding: 15px;
    background-color: #f9f9f9;
}
.newest-stories {
    grid-area: high-right;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-sizing: border-box;
    margin: 5px;
    padding: 15px;
    background-color: #f9f9f9;
}
.all-stories {
    grid-area: low;
    display: flex;
    flex-direction: column;
    align-items: center;
    box-sizing: border-box;
    margin-top: 35px;
    padding-top: 75px;
    padding-right: 150px;
    padding-left: 150px;
    padding-bottom: 25px;
    margin: 5px;
    /* border-top: solid 1px; */
    background-color: #f9f9f9;
}
.story-box-container {
    grid-area: middle;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.main-story-box {
    font-family: 'Cinzel', serif;
    font-weight: 100;
    background-color: #f9f9f9;
    /* background: linear-gradient(to right, #113A5D,#f9f9f9); */
    color: black;
    box-shadow: 10px 10px 10px #113A5D;
    border-radius: 15px;
    min-width: 100%;
    height: 200px;
    position: relative;
    margin-top: 3%;
    margin-right: 3%;
    margin-left: 3%;
    padding: 5px;
    display: grid;
    grid-template-columns: 25% 1fr;
    grid-template-rows: 70% 1fr;
    grid-template-areas:
        "image title"
        "image info";
}
.main-story-box:hover {
    box-shadow: 0 10px 10px 5px #062743;
}
.story-box-image {
    grid-area: image;
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    border-radius: 45px;
    box-sizing: border-box;
}

.story-box-nestedImage {
    justify-content: center;
    align-items: center;
    width: 100%;
    min-height: 150px;
    max-height: 175px;
    border-radius:35px;
    
}

.story-box-author {
    margin-top: 5px;
    position: right;
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 2;
    grid-row-end: 3;
    grid-area: info;
    overflow: hidden;
    display: flex;
    justify-content: flex-end;
    align-items: center;
    
}
.story-box-author-name {
    box-sizing: border-box;
    font-size: 15px;
    /* align-self: center; */
    display: flex;
    /* font-style: italic; */
    text-decoration: none;
    color: #062743;
    margin: 5px;
}

.story-box-author-picture {
    box-sizing: border-box;
    margin: 5px;
    width: 40px;
    height: 40px;
    border-radius: 50%;
    display: flex;


}

.story-box-titles {
    grid-area: title;
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 1;
    grid-row-end: 2;
    display: flex;
    flex-direction: column;
    justify-content: center;
    box-sizing: border-box;
    margin: 5px;
    padding: 5px;
    
}
.story-box-titles > a {
    text-decoration: none;
}

.story-box-titles-title {
    flex-shrink: inherit;
    box-sizing: border-box;
    font-weight: 400;
    font-size: 25px;
    text-decoration: none;
    text-align: left;
    color: #062743;
    word-wrap: break-word;
}
.story-box-titles-title:hover {
    text-decoration: underline;
    text-decoration-thickness: 5%;
}

.story-box-titles-subtitle {
    font-weight: 300;
    /* font-style: italic; */
    text-align: left;
    font-size: 15px;
    color: #113a5d;

}

.story-box-info {
    grid-area: info;
    justify-self: flex-start;
    align-self: flex-end;
    box-sizing: border-box;
    margin: 18px;
    grid-column-start: 2;
    grid-column-end: 3;
    grid-row-start: 2;
    grid-row-end: 3;
}

.story-box-info-date {
    font-size: 12px;
    text-align: center;
    color: #113a5d;
}