body {
    background-color:#F9F9F9
}

.h2-container {
    grid-area: middle;
    display: flex;
    justify-content: center;
    box-sizing: border-box;
    margin-bottom: 20px;
}

.stories-label {
   font-size: 35px;
}

.homepage-stories {
    width: 100%;
    display: grid;
    grid-template-columns: 1fr 40% 40%;
    grid-template-rows: 20% 1fr;
    grid-template-areas:
    "side high-middle high-right"
    "side low low";
}
.high-like-stories {
    grid-area: high-middle;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.newest-stories {
    grid-area: high-right;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.all-stories {
    grid-area: low;
    display: flex;
    flex-direction: column;
    align-items: center;
}
.story-box-container {
    grid-area: middle;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.main-story-box {
    font-family: 'Cinzel', serif;
    font-weight: 100;
    color: black;
    border: 1px solid black;
    box-shadow: 0 10px 10px #113A5D;
    border-radius: 15px;
    min-width: 75%;
    min-height: 200px;
    position: relative;
    margin-top: 5%;
    margin-right: 5%;
    margin-left: 5%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 20% 20% 20% 20% 20%;
    grid-template-areas:
        "image author author"
        "image title title"
        "image title title"
        "image title title"
        "image info info";
    

}
.story-box-image {
    grid-area: image;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    border-radius: 15px;
}

.story-box-nestedImage {
    width: 100%;
    max-height: 200px;
    
}

.story-box-author {
    margin-top: 3%;
    grid-column-start: 3;
    grid-column-end: 4;
    grid-row-start: 1;
    grid-row-end: 2;
    overflow: hidden;
    display: flex;
    
}
.story-box-author-name {
    box-sizing: border-box;
    font-size: 20px;
    display: flex;
    font-style: italic;
    text-decoration: none;
    color: #062743;
}

.story-box-author-picture {
    box-sizing: border-box;
    margin: 5px;
    width: 40px;
    height: 40px;
    border-radius: 50%;


}

.story-box-titles {
    grid-area: title;
    grid-column-start: 2;
    grid-column-end: 4;
    grid-row-start: 2;
    grid-row-end: 4;
    
}

.story-box-titles-title {
    box-sizing: border-box;
    /* margin-top: 40px; */
    font-weight: 525;
    font-size: 25px;
    text-decoration: underline;
    text-align: left;
    margin-left: 3%;
    color: #062743;

}

.story-box-titles-subtitle {
    font-weight: 300;
    font-style: italic;
    text-align: center;
    font-size: 15px;
    color: #113a5d;

}

.story-box-info {
    grid-area: info;
}

.story-box-info-date {
    font-size: 12px;
    text-align: center;
    color: #113a5d;
}