body {
    background-color: #f9f9f9 !important;
    min-height: 100vh;
    position: relative;
}

.login-form__container {
    background-color: #f9f9f9;
    box-sizing: border-box;
    scroll-behavior: smooth;
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    padding: 3%;
    height: 100vh;
    width: 100vw;
    gap: 30px;
    /* min-height: 100vh; */
    font-family: 'Cinzel', serif;
}

.login-form__greeting {
    font-weight: 900;
    font-size: 40px;
    display: block;
    box-sizing: border-box;
}

.login-form__greeting-logo {
    margin-left: 10px;
    font-size: 70px;
    font-weight: 900;
    background-image: url('../banner-pic.jpeg');
    background-size: 250%;
    -webkit-background-clip: text;
    -moz-background-clip: text;
    background-clip: text;
    color: transparent;
    -webkit-text-stroke: 1px black;
    animation: fadeInEffect ease-in 2s;
    animation-iteration-count: 1;
    animation-direction: forwards;
}

.login-form__email {
    font-size: 25px;
    display: flex;
    align-items: center;
}

#email {
    height: 25px;
    margin-left: 10px;
}

.login-form__password {
    margin-left: 60px;
    font-size: 25px;
    display: flex;
    align-items: center;
}

#password {
    height: 25px;
    margin-left: 10px;
}

#email:focus,
#password:focus {
    background-color: #c4ffdd;
}

.login-form__submit-container {
    box-sizing: border-box;
    display: flex;
    justify-content: center;
}

.login-form__submit {
    display: flex;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
    height: 45px;
    width: 90px;
    margin-right: 50px;
    font-size: 20px;
    font-family: 'Cinzel', serif;
    font-weight:900;
    color: #f9f9f9;
    background-color: #062743;
    border: 1px;
    border-color: #f9f9f9;
    border-style: inset outset outset inset;
    border-radius: 10px;
    cursor: pointer;
}

.login-form__submit:hover {
    color: orange;
    background-color: #113a5d;
    border: 1px solid #f9f9f9;
    border-style: outset inset inset outset;
    font-size: 19px;
}

.login-form__cancel {
    display: flex;
    align-items: center;
    justify-content: center;
    box-sizing: border-box;
    height: 45px;
    width: 90px;
    font-size: 20px;
    text-decoration: none;
    font-weight:900;
    color: #f9f9f9;
    background-color: #062743;
    border: 1px solid #f9f9f9;
    border-style: inset outset outset inset;
    border-radius: 10px;
    cursor: pointer;
}

.login-form__cancel:hover {
    color: orange;
    background-color: #113a5d;
    border: 1px solid #f9f9f9;
    border-style: outset inset inset outset;
    font-size: 19px;

}

.errors {
    position: relative;
    font-family: Arial, Helvetica, sans-serif;
    font-size: 20px;
    display: flex;
    flex-direction: column;
    align-items: center;
    /* color: transparent; */
}

.errors > p {
    color: red;
}

.login-form__no-account-options {
    box-sizing: border-box;
    display: flex;
    flex-direction: column;
    align-items: center;
}

.login-form__signup {
    box-sizing: border-box;
    display: flex;
    justify-content: center;
    font-size: 25px;
    font-weight: 900;
    color: #062743;
    transition: color ease-in .25s;
    width: auto;
    height: 30px;
}

.login-form__signup:hover {
    color: transparent;
    font-size: 0;
    text-decoration: none;
    animation: fadeInEffect ease-in .25s;
    animation-iteration-count: 1;
    animation-direction: forwards;
}

.login-form__signup:hover:after {
    color: orange;
    font-size: 25px;
    content: attr(data-hover)
}

.login-form__or {
    font-size: 25px;
    color: #062743;
}

#random-demo-user {
    box-sizing: border-box;
    font-family: 'Cinzel', serif;
    font-weight:900;
    font-size: 40px;
    color: white;
    background-color: #c4ffdd;
    padding: 50px;
    border: 1px;
    border-width: 2px 4px;
    border-radius: 40px;
    width: 800px;
    height: 200px;
    min-width: 50%;
    background-image: url('../banner-pic.jpeg');
    background-size: cover;
    text-shadow: 3px 3px 0 #000, -1px -1px 0 #000, 1px -1px 0 #000, -1px 1px 0 #000, 1px 1px 0 #000;
    transition-property: font-size;
    transition-duration: 0.4s;
    cursor: pointer;
}


#random-demo-user:hover {
    font-size: 0;
    transition: opacity 2s;
    animation: fadeInEffect ease-in 1.5s;
    animation-iteration-count: 1;
    animation-direction: forwards;
    background-image: url('../banner-pic-2.jpeg');
    background-size: cover;
    
}

#random-demo-user:hover:after {
    font-size: 40px;
    content: attr(data-hover)
}

@keyframes fadeInEffect {
    0% {
        opacity: 0;
    }
    100% {
        opacity: 1;
    }
}