.nav-bar {
    position:sticky;
    top: 0;
    background-color:rgb(17, 17, 146);
    align-items: center;
    display:grid;
    grid-template-rows: 55px;
    grid-template-columns: repeat(20, 1fr);
    grid-template-areas:
        'home txt . . . . . . . . . . . . . . . userProfile writeStory logout'
}
@media (max-width: 768px){
    .nav-bar {
        position:sticky;
        top: 0;
        background-color:rgb(17, 17, 146);
        align-items: center;
        display:flex;
        justify-content:space-between;
    }
}
.nav-bar__home-link {
   grid-area:home;

}
.nav-bar__text {
    grid-area:txt;

}

.nav-bar__login {
    grid-area:userProfile;

}

.nav-bar__new-story {
    grid-area:writeStory;

}

.nav-bar__logout {
    grid-area:logout;

}

.nav-bar__text {

    text-shadow: 1px 1px 1px rgba(220, 220, 220, .55);
    color:rgb(70, 70, 70);
    font-size: 24px;
    font-weight: bold;
}

.nav-bar__image {
    height: 34px;
    width: 34px;
}
a.nav-link{
    height: 100%;
    display: flex;
    align-items: center;
    width: 100%;
    justify-content: center;
}
a.nav-link:hover{
    background-color: blue;
    border-bottom: 2px solid white;
    border-left: 1px solid white;
    box-sizing: border-box;
}
