
.profile-main-body {
    position: relative;
    background-color: white;
    display: grid;
    grid-template-columns: 30% 70%;
    grid-template-rows: auto;
    grid-template-areas:
    "card stories";
}

.banner-picture-box {
   
    /* height: 20em; */
    width: 100%;
}


.profile-card {
    grid-area: card;
    position: sticky;
    top: 0;
    width: 100%;

}

.story-box-container {
    grid-area: stories;

}