.logo {
    /* display: flex; */
    /* position: relative; */
    /* color: white; */
    /* bottom: 10%;
    left: 10%; */
    font-size: 11vmax;
    font-family: 'Cinzel', serif;
    font-weight: 900;
    /* font-variant: small-caps; */
    text-transform: capitalize;
    text-decoration: none;
    /* justify-self: center;
    align-self: center; */
    background-image: url('../banner-pic.jpeg');
    -webkit-background-clip: text;
    -moz-background-clip: text;
    background-clip: text;
    -webkit-text-stroke: 1px black;
    color: transparent;
}
body {
    background: linear-gradient(to right, #062743, #113a5d, #c4ffdd, #f9f9f9);
    display: flex;
    /* flex-direction: column; */
    /* align-items: center; */
    justify-content: center;
}
.splash-link {
    text-decoration: none;
}

