.comment-container{
    grid-area:comments;
    display:flex;
    flex-direction: column;
    width: 100%;
    overflow: hidden;
    align-items: center;
    padding-bottom: 25px;
}

.form__icon {
    cursor:pointer;
    height:40px;
    width:40px;
}

.form__icon:hover {
    box-shadow: 2px 2px 2px rgba(160, 160, 160, 0.45);
    background:white;
}

.comment-view-list {
    height:100%;
    width:100%;
}

.comment-view-container {
    display:flex;
    flex-direction: column;
    width: 90%;
}

.comment-view__comment-container{
    width:100%;
    height:100%;
    list-style-type:none;
    border: 2px solid black;
    margin: 8px;
    padding: 5px;
    box-sizing: border-box;
    background-color:rgba(220, 220, 220, 0.65);
    border-radius: 8px;
    box-shadow: 1.5px 1.5px 1.5px rgba(160, 160, 160, 0.45);
}

.comment-view__comment-author-container {
    display:grid;
    grid-template-columns: 60px 1fr 2fr 1fr;
    grid-template-rows: auto;
    grid-template-areas: 
        'img author .  like'
}

.comment-view__comment-author-image {
    grid-area:img;
    width:50px;
    height:50px;
    border-radius: 50%;
}

.comment-view__comment-like-container {
    grid-area: like;
    display:flex;
    align-items: center;
    justify-content: center;
}

.comment-view__comment-like-icon {
    border-radius: 50%;
}

.comment-view__comment-like-amount {
    padding-right:15px;
    /* font-size:25px; */
    text-shadow: 2px 2px 2px rgba(105, 105, 105, .4);
    color:grey;
    font-style: italic;
}

.comment-view__comment-author-screen-name {
    grid-area: author;
    text-shadow: 2px 2px 2px rgba(170, 170, 170, 0.65);
    position: relative;
    font-size: 20px;
    left:10px;
}

.comment-view__comment-body {
    word-wrap: break-word;
    white-space: pre-wrap;
    font-size: 16px;
}

.comment-form__icon-container {
    display:flex;
    justify-content:space-around;
    padding:20px;
}

.comment-form-container{
    width:100%;
}
#comment__body {
    width:100%;
    border: 1px solid rgba(170, 170, 170, 0.4);
    border-radius:8px;
    box-sizing: border-box;
    background: #F0F0F0;
    resize:none;
    box-shadow: 3px 3px 3px rgba(160, 160, 160, 0.65);
    font-size: 18px;

}

#comment__body:hover {
    background: #e6e5e5;
}

.edit-comment-btn {
    border: 1px solid red;
    box-sizing: border-box;
    display: flex;
    width: 60px;
    height: 25px;
    text-decoration: none;
    justify-content: center;
    align-items: center;
    font-size: 14px;
    color: #f9f9f9;
    background-color: #062743;
    border: 1px;
    border-color: #f9f9f9;
    border-style: inset outset outset inset;
    border-radius: 5px;
    cursor: pointer;
    margin-top: 1.5px;
    font-weight: 900;
}

.edit-comment-btn:hover {
    color: orange;
    background-color: #113a5d;
    border: 1px solid #f9f9f9;
    border-style: outset inset inset outset;
    font-size: 13px;
}