@media screen and (min-width:800px){
    .stories-display__page-container {
        display: grid;
        grid-template-rows: auto;
        grid-template-columns:  1fr 1fr 1fr;
        grid-template-areas:
        '. titlebox .'
        '. storyImage .'
        '. storyImage .'
        '. body .'
        '. body .'
        '. body .'
    }
}

@media screen and (max-width: 800px) {
    .stories-display__page-container {
        display: grid;
        grid-template-rows: auto;
        grid-template-columns:  1fr;
        grid-template-areas:
            'titlebox'
            'storyImage'
            'storyImage'
            'body'
            'body'
            'body'
    }
}

.story-titlebox {
    grid-area: titlebox;
    display:grid;
    grid-template-rows: repeat(6, 1fr);
    grid-template-columns: 1fr;
    grid-template-areas:
        'title'
        'title'
        'title'
        'subtitle'
        'story-titlebox__author-box'
        'story-titlebox__author-box'
}

.story-titlebox__title {
    grid-area: title;
    text-align: center;
    font-size: xxx-large;
    font-weight: bold;
    text-shadow: 2px 2px 2px rgba(161, 170, 169, .9)
}

.story-titlebox__subtitle{
    grid-area: subtitle;
    text-align: center;
    color:grey;
    font-style: italic;
}

.story-titlebox__author-box {
    grid-area: story-titlebox__author-box;
    /* background-color:antiquewhite; */
    display:grid;
    grid-template-rows: repeat(2, 1fr);
    grid-template-columns: repeat(10, 1fr);
    grid-template-areas:
        'authorImage authorImage authorName authorName authorName authorName . . editStory deleteStory'
        'authorImage authorImage dateCreated dateCreated dateCreated dateCreated . . . likeButton';
}

.story-titlebox__author-box__name {
    grid-area: authorName;
    font-style: italic;
    text-shadow: 2px 2px 2px rgba(105, 105, 105, .4)
}

/* *{border: 1px solid red;} */

.story-titlebox__author-box__image-container{
    grid-area: authorImage;
    height: 75px;
    width: 75px;
}

.story-titlebox__author-box__image{
    box-sizing: border-box;
    width: 100%;
    height: 100%;
    border-radius: 50%;
}


.story-titlebox__author-box__date-created {
    grid-area: dateCreated;
}

.story-titlebox__author-box__author-buttons {
    grid-area: authorButtons;
}


.story-image__container {
    grid-area: storyImage;
    width: 100%;
}

.story-image {
    width: 100%;
}

.story-body{
    grid-area: body;
    overflow: hidden;
}

.story-body__content {
    white-space: pre-wrap;
    word-wrap: break-word;
}

.story-titlebox__like-button-container {
    grid-area: likeButton;
    height: 34px;
    width: 34px;
}

.story-titlebox__like-button-image {
    width:100%;
    height:100%;
}

.story-titlebox__like-button-image:hover {
    box-shadow: 4px 4px 4px rgba(200, 200, 200, 0.65);
    background-color: rgba(230, 230, 230, .8);
}

.story-titlebox__author-box__author-buttons_edit-button {
    height: 34px;
    width: 34px;
    grid-area:editStory;
}

.story-titlebox__authorbox__edit-icon {
    width: 100%;
    height:100%
}

.story-titlebox__author-box__author-buttons_edit-button:hover{
    box-shadow: 4px 4px 4px rgba(200, 200, 200, 0.65);
    background-color: rgba(230, 230, 230, .8);
}


.story-titlebox__author-box__author-buttons_delete-button {
    height: 34px;
    width: 34px;
    grid-area:deleteStory;
}

.story-titlebox__authorbox__delete-icon {
    width: 100%;
    height:100%
}

.story-titlebox__author-box__author-buttons_delete-button:hover{
    box-shadow: 4px 4px 4px rgba(200, 200, 200, 0.65);
    background-color: rgba(230, 230, 230, .8)
}


