.main-story-box {
    /* background-color: rgba(0, 0, 0, 0.5); */
    /* background: linear-gradient(to left, rgba(0, 26, 255, 0.774), yellow); */
    font-family: 'Cinzel', serif;
    font-weight: 100;
    /* color: black; */
    border: 1px solid black;
    width: 75%;
    height: 400px;
    position: relative;
    margin-top: 5%;
    margin-right: 5%;
    margin-left: 5%;
    display: grid;
    grid-template-columns: 1fr 1fr 1fr;
    grid-template-rows: 20% 20% 20% 20% 20%;
    grid-template-areas:
        "image author author"
        "image title title"
        "image title title"
        "image title title"
        "image info info";
    

}

.story-box-image {
    grid-area: image;
    justify-content: center;
    align-items: center;
    /* display: flex;
    flex-direction: column;
    overflow: hidden; */

}
.story-box-nestedImage {
    width: 100%;
    height: 100%;
    
}

.story-box-author {
    margin-top: 3%;
    /* grid-area: author; */
    grid-column-start: 3;
    grid-column-end: 4;
    grid-row-start: 1;
    grid-row-end: 2;
    /* display: flex; */
    /* flex-direction: row;
    align-items: flex-end; */
}

/* .story-box-author > a {
    display: flex;
    align-self: center;
} */
.story-box-author-name {
    box-sizing: border-box;
    /* margin: 5px; */
    font-size: 40px;
    display: flex;
    /* align-self: flex-end; */
    font-style: italic;
    text-decoration: none;
    color: #062743;
    
}

.story-box-author-picture {
    box-sizing: border-box;
    margin: 5px;
    width: 20%;
    height: 20%;
    border-radius: 50%;
    
    
}

.story-box-titles {
    grid-area: title;
    grid-column-start: 2;
    grid-column-end: 4;
    grid-row-start: 2;
    grid-row-end: 4;
    
}

.story-box-titles-title {
    box-sizing: border-box;
    /* margin-top: 40px; */
    font-weight: 500;
    font-size: 400%;
    text-decoration: underline;
    text-align: left;
    margin-left: 3%;
    color: #062743;
    
}

.story-box-titles-subtitle {
    font-weight: 300;
    font-style: italic;
    text-align: center;
    font-size: 250%;
    color: #113a5d;
    
}

.story-box-info {
    grid-area: info;
}

.story-box-info-date {
    font-size: 20px;
    text-align: center;
}