.profile-card {
    /* background: linear-gradient(to left, yellow, rgba(0, 26, 255, 0.774)); */
    font-family: 'Cinzel', serif;
    box-sizing: border-box;
    position: sticky;
    width: 100%;
    height: 100%;
    border: 3px;
    display: grid;
    grid-template-rows: 1fr 10% 1fr 10%;
    grid-template-areas:
        "pictureBox"
        "biography"
        "button";
}

.user-picture-box {
    grid-area: pictureBox;
    /* border-radius: 100px; */
    margin-top: 10%;
    /* margin-left: 10%; */
    position: relative;
    display: flex;
    flex-direction: column;
    align-items: center;
    
}

.user-picture { 
    position: relative;
    box-sizing: border-box;
    width: 20em;
    height: 20em;
    border-radius: 50%;
    justify-self: center;
    /* box-shadow: -3px -3px 30px 30px rgba(0,0,0,.15); */
}

.user-name {
    position: relative;
    font-weight: 900;
    justify-self: center;
    left: 5%;
}

.user-biography-box {
    position: relative;
    grid-area: biography;
    border: 5px solid;
    border-image-source: linear-gradient(to right, purple, yellow, red, blue);
    border-image-slice: 1;
}

.profile-owner-buttons {
    grid-area: button;
}
