.profile-card {
    /* background: linear-gradient(to left, yellow, rgba(0, 26, 255, 0.774)); */
    font-family: 'Cinzel', serif;
    box-sizing: border-box;
    position: sticky;
    width: 80%;
    height: 500px;
    border: 3px;
    display: grid;
    grid-template-rows: 60% 1fr 10%;
    grid-template-areas:
        "pictureBox"
        "biography"
        "button";
}

.user-picture-box {
    grid-area: pictureBox;
    /* border-radius: 100px; */
    margin-top: 10%;
    /* margin-left: 10%; */
    /* position: relative; */
    display: flex;
    flex-direction: column;
    align-items: center;
    
}

.user-picture { 
    /* position: relative; */
    box-sizing: border-box;
    width: 20em;
    height: 20em;
    border-radius: 50%;
    justify-self: center;
    /* box-shadow: -3px -3px 30px 30px rgba(0,0,0,.15); */
}

.user-name {
    /* grid-area: userName; */
    /* position: relative; */
    font-weight: 900;
    justify-self: center;
    left: 5%;
    color: #062743;
}

.user-biography-box {
    /* position: relative; */
    grid-area: biography;
    box-sizing: border-box;
    padding: 8px;
    /* border: 5px solid; */
    /* border-image-source: repeating-linear-gradient(to left, #062743, #113a5d, #c4ffdd, #f9f9f9); */
    border-color: #062743;
    border-image-slice: 1;
    color: #113a5d;
    text-align: center;
}

.profile-owner-buttons {
    grid-area: button;
    box-sizing: border-box;
    margin: 5px;
    padding-left: 50px;
}
