extends layout.pug

block content
    h3 Sorry! There are no dragonballs here!
    div
        img(src='https://images-na.ssl-images-amazon.com/images/I/61jnO2qIrkL._AC_SL1500_.jpg' width='50%' class='page-does-not-exist-image')
